@import '../colors.scss';

//onPhone
@media only screen and (max-width:586px){
    .textName{
        width:100%;
        text-align: center;
        margin-top:20px;

        .name{
            font-weight :600;
            font-size:1.8rem;
        }

    }
    .textDescription{
        width:100%;
        text-align: center;
        margin-top:0px;
        .description{
            font-weight:400;
            font-size:0.8rem;
            
        }

    }
    .user{
        width:100%;
        text-align: center;
        .userImage{
            height:40vh;
            margin-top:10px;
            border-radius: 15px;
        }
    }
    .button{
        text-align: center;
        margin-top:15px;
        button{
            background-color: $primary;
            height:6vh;
            width:6vh;
            border-radius: 15px;
        }

    }
    .colorData{
        width: 100%;
        text-align: center;
        margin-top:40px;
        .textColorData{
            font-size:1rem;
            font-weight:700;

        }
        .textColorText{
            font-weight:300;
            font-size:0.8rem;

        }
    }
}